---
layout: default
cssclass: home
---



    {% for post in site.posts reversed %}
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
        {% if posttime < nowunix %}
        <div class="class-link">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <span class="post-date">{{ post.classdate | date: "%b %-d" }}</span> {{ post.title }}
        </a>
        </div>
        {% else %}
        <div class="class-link future">
            <span class="post-date">{{ post.classdate | date: "%b %-d" }}</span>  {{ post.title }}
        </div>
        {% endif %}
    

    {% endfor %}