<header class="site-header">

  <div class="wrapper">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Creative Computing</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == "" %}class="active"{% endif %}><a href="/">Classes</a></li>
        <li {% if page.url =="/assignments/" %}class="active"{% endif %}><a href="/assignments/">Assignments</a></li>
        <li {% if page.url =="/resources/" %}class="active"{% endif %}><a href="/resources/">Resources</a></li>
         <li {% if page.url =="/syllabus/" %}class="active"{% endif %}><a href="/syllabus/">Syllabus</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for student in site.data.students %}
          <li>
            <a href="https://github.com/{{ member.github }}">
              {{ student.name }}
            </a>
          </li>
        {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</header>